# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JNI stuff:
*.class
*.so
/.DS_Store
/target/
/bin/
/bintest/
/Default/
jni/generated

# misc
/stamps
/dist
